.gitattributes export-ignore
.gitignore export-ignore
vignettes/Makefile export-ignore
README.md export-ignore
_config.yml export-ignore
_layouts export-ignore
.Rhistory export-ignore
.Rbuildignore export-ignore
favicon.ico export-ignore
logo.jpg export-ignore
logo.png export-ignore
logot.png export-ignore
vignettes/*.sty export-ignore
vignettes/*.cls export-ignore
vignettes/*.bst export-ignore
vignettes/*.R export-ignore
vignettes/tables export-ignore
vignettes/tex export-ignore
vignettes/figures export-ignore
vignettes/manual_files export-ignore
vignettes/debugger_template.Rnw export-ignore
inst/WORDLIST
man/MARSS_out.Rd
